#==========<>> < INTSL > <<>==============#

# Developer files #
test.sh
auto_push

# Dependency directories #
new-version.txt
dev_pass

#==========<>> < JAVA  > <<>==============#

# Package Files #
*.jar

#==========<>> < YARN  > <<>==============#

# Dependency directories #
node_modules
